<!doctype html>
<html>
<head>
  <title>Button</title>
  <link rel="stylesheet" href="../../../packages/theme-default/dist/button.css">
  <style>
    .demo-btn {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div class="demo-btn" id="button1"></div>
  <div class="demo-btn" id="button2"></div>
  <div class="demo-btn" id="button3"></div>
  <div class="demo-btn" id="button4"></div>
  <div class="demo-btn" id="button5"></div>
  <div class="demo-btn" id="button6"></div>
  <div class="demo-btn" id="button7"></div>
  <div class="demo-btn" id="button8"></div>

  <script src='../../../packages/button/dist/index.js'></script>
  <script>
    var button1 = new Button({
      target: document.querySelector('#button1'),
      data: {
        content: 'Default Button'
      }
    })
    button1.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button2 = new Button({
      target: document.querySelector('#button2'),
      data: {
        content: 'Primary Button',
        type: 'primary'
      }
    })
    button2.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button3 = new Button({
      target: document.querySelector('#button3'),
      data: {
        content: 'Info Button',
        type: 'info'
      }
    })
    button3.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button4 = new Button({
      target: document.querySelector('#button4'),
      data: {
        content: 'Danger Button',
        type: 'danger'
      }
    })
    button4.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button5 = new Button({
      target: document.querySelector('#button5'),
      data: {
        content: 'Success Button',
        type: 'success'
      }
    })
    button5.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button6 = new Button({
      target: document.querySelector('#button6'),
      data: {
        content: 'Warning Button',
        type: 'warning'
      }
    })
    button6.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button7 = new Button({
      target: document.querySelector('#button7'),
      data: {
        content: 'Inverse Button',
        type: 'inverse'
      }
    })
    button7.onclick = function (e) {
      console.log(e)
    }
  </script>
  <script>
    var button8 = new Button({
      target: document.querySelector('#button8'),
      data: {
        content: 'Disabled Button',
        disabled: true
      }
    })
    button8.onclick = function (e) {
      console.log(e)
    }
  </script>
</body>
</html>