.sf-button {
  margin: 0;
  padding: 12px 0;
  color: #FFF;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: all .25s;
}

.sf-button--primary {
  background-color: #1ABC9C;
  &:hover, &:focus {
    background-color: #48C9B0;
  }
  &:active {
    background-color: #16A085;
    border-color: #16A085;
  }
}

.sf-button--warning {
  background-color: #F1C40F;
  &:hover, &:focus {
    background-color: #F4D03F;
  }
  &:active {
    background-color: #CDA70D;
    border-color: #CDA70D;
  }
}

.sf-button--default {
  background-color: #BDC3C7;
  &:hover, &:focus {
    background-color: #CACFD2;
  }
  &:active {
    background-color: #A1A6A9;
    border-color: #A1A6A9;
  }
}

.sf-button--danger {
  background-color: #E74C3C;
  &:hover, &:focus {
    background-color: #EC7063;
  }
  &:active {
    background-color: #C44133;
    border-color: #C44133;
  }
}

.sf-button--success {
  background-color: #2ECC71;
  &:hover, &:focus {
    background-color: #55D98D;
  }
  &:active {
    background-color: #27AD60;
    border-color: #27AD60;
  }
}

.sf-button--inverse {
  background-color: #34495E;
  &:hover, &:focus {
    background-color: #4E6d8D;
  }
  &:active {
    background-color: #2C3E50;
    border-color: #2C3E50;
  }
}

.sf-button--info {
  background-color: #3498DB;
  &:hover, &:focus {
    background-color: #5DADE2;
  }
  &:active {
    background-color: #2C81BA;
    border-color: #2C81BA;
  }
}

.sf-button[disabled] {
  color: rgba(255, 255, 255, .75);
  background-color: #BDC3C7;
  box-shadow: none;
  cursor: not-allowed;
  &:hover, &:focus, &:active {
    background-color: #BDC3C7;
    box-shadow: none;
  }
}

.sf-button--embossed {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  &:active {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
  }
}