.sf-input {
  padding: 6px 0 6px 10px;
  color: #34495E;
  font-size: 14px;
  border: 2px solid #BDC3C7;
  border-radius: 6px;
  transition: all .25s;
  &:focus {
    outline: 0;
  }
}

.sf-input--default {
  border-color: #BDC3C7;
  &:focus {
    border-color: #1ABC9C;
  }
}

.sf-input--error {
  color: #E74C3C;
  border-color: #E74C3C;
  &:focus {
    border-color: #E74C3C;
  }
}

.sf-input--success {
  color: #2ECC71;
  border-color: #2ECC71;
  &:focus {
    border-color: #2ECC71;
  }
}

.sf-input[disabled], 
.sf-input[readonly] {
  color: #CAD2D3;
  border-color: #D5DBDB;
  background-color: #F4F6F6;
  cursor: not-allowed;
}