.sf-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
}

.sf-message__body {
  width: 300px;
  height: 42px;
  margin: auto;
  text-align: center;
  background: #FFF;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .15);
  display: flex;
  align-items: center;
  z-index: 1000;

  & i {
    width: 42px;
    height: 100%;
    color: #FFF;
    line-height: 42px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
  }
  & span {
    width: calc(100% - 42px);
  }
}

.sf-message__info {
  & i {
    background: #3498DB;
  }
}

.sf-message__success {
  & i {
    background: #2ECC71;
  }
}

.sf-message__warning {
  & i {
    background: #F1C40F;
  }
}

.sf-message__danger {
  & i {
    background: #E74C3C;
  }
}

.sf-message--enter {
  animation: messageenter 1.8s ease-in-out;
}

@keyframes messageenter {
  0% { transform: translateY(-100%); opacity: 0; }
  30% { transform: translateY(50%); opacity: 1; }
  70% { transform: translateY(50%); opacity: 1; }
  100% { transform: translateY(-100%); opacity: 0; }
}