.sf-radio {
  display: flex;
  align-items: center;
  &:hover {
    & .fui-radio-checked {
      display: block;
    }
    & .fui-radio-unchecked {
      display: none;
    }
  }
}

.sf-radio--label {
  margin-left: 12px;
  font-size: 14px;
}

.sf-radio--icons {
  display: block;
  & i {
    width: 20px;
    height: 20px;
    color: #BDC3C7;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    transition: color .25s;
    cursor: pointer;
    &.fui-radio-checked {
      display: none;
    }
    &.fui-radio-unchecked {
      display: block;
    }
  }

  &.active i {
    &.fui-radio-checked {
      color: #1ABC9C;
      display: block;
    }
    &.fui-radio-unchecked {
      display: none;
    }
  }

  &:hover i {
    &.fui-radio-checked {
      display: block;
    }
    &.fui-radio-unchecked {
      display: none;
    }
  }
}

.sf-radio__disabled .sf-radio--icons {
  &:hover i {
    cursor: not-allowed;
  }

  & i {
    &.fui-radio-checked {
      display: none;
    }
    &.fui-radio-unchecked {
      color: #E6E8EA;
      display: block;
    }
  }

  &.active i {
    &.fui-radio-checked {
      color: #E6E8EA;
      display: block;
    }
    &.fui-radio-unchecked {
      color: #E6E8EA;
      display: none;
    }
  }
}