.sf-slider {
  position: relative;
  width: 100%;
  height: 12px;
  background: #E8EDF2;
  border-radius: 32px;
}

.sf-slider__range {
  position: absolute;
  height: 100%;
  border-radius: 32px 0 0 32px;
  background: #1ABC9C;
}

.sf-slider__handle {
  position: absolute;
  top: -3px;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  background: #16A085;
  border-radius: 50%;
  display: block;
  transition: background .25s;
  user-select: none;
  &:hover {
    background: #2FE2BF;
    cursor: pointer;
  }
}
