<Main>
  <h1>LoadingBar 加载进度条</h1>

  <section class="component-block">
    <h2>基础用法</h2>
    <Button type="primary" on:click="openLoadingBar('start')">Start</Button>
    <Button type="primary" on:click="openLoadingBar('finish')">Finish</Button>
    <Button type="primary" on:click="openLoadingBar('error')">Error</Button>
  </section>

  <section class="router-docs">
    {{{Examples}}}
  </section>
</Main>

<script>
  import Main from '../../Main'
  import Button from '../../../../packages/button'
  import LoadingBar from '../../../../packages/loading-bar'
  import Examples from './examples.md'

  export default {
    data () {
      return {
        Examples
      }
    },
    methods: {
      openLoadingBar (type) {
        LoadingBar[type]()
      }
    },
    components: {
      Main,
      Button
    }
  }
</script>
