<Main>
  <h1>Button 按钮</h1>

  <section class="component-block">
    <h2>按钮类型</h2>
    <Button>Default</Button>
    <Button type="primary">Primary</Button>
    <Button type="warning">Warning</Button>
    <Button type="danger">Danger</Button>
    <Button type="success">Success</Button>
    <Button type="info">Info</Button>
    <Button type="inverse">Inverse</Button>
  </section>

  <section class="component-block">
    <h2>禁用状态</h2>
    <Button disabled>Default</Button>
    <Button type="primary" disabled>Primary</Button>
    <Button type="warning" disabled>Warning</Button>
    <Button type="danger" disabled>Danger</Button>
    <Button type="success" disabled>Success</Button>
    <Button type="info" disabled>Info</Button>
    <Button type="inverse" disabled>Inverse</Button>
  </section>

  <section class="component-block">
    <h2>浮雕样式</h2>
    <Button embossed>Default</Button>
    <Button type="primary" embossed>Primary</Button>
    <Button type="warning" embossed>Warning</Button>
    <Button type="danger" embossed>Danger</Button>
    <Button type="success" embossed>Success</Button>
    <Button type="info" embossed>Info</Button>
    <Button type="inverse" embossed>Inverse</Button>
  </section>

  <section class="component-block">
    <h2>按钮尺寸</h2>
    <Button type="primary" size="small">Small</Button>
    <Button type="primary">Medium</Button>
    <Button type="primary" size="large">Large</Button>
    <Button type="primary" size="huge">Huge</Button>
  </section>
  
  <section class="component-block">
    <h2>加宽按钮</h2>
    <Button type="primary" wide>Save</Button>
    <Button wide>Cancel</Button>
  </section>
  
  <section class="component-block">
    <h2>按钮形状</h2>
    <Button type="primary" shape="sharp">Sharp</Button>
    <Button type="primary">Square</Button>
    <Button type="primary" shape="round">Round</Button>
  </section>

  <section class="router-docs">
    {{{Examples}}}
  </section>
</Main>

<script>
  import Main from '../../Main'
  import Button from '../../../../packages/button/src'
  import Examples from './examples.md'

  export default {
    data () {
      return {
        Examples
      }
    },
    components: {
      Main,
      Button
    }
  }
</script>
