<Main>
  <section>
    <Button>Default</Button>
    <Button type="primary">Primary</Button>
    <Button type="warning">Warning</Button>
    <Button type="danger">Danger</Button>
    <Button type="success">Success</Button>
    <Button type="info">Info</Button>
    <Button type="inverse">Inverse</Button>
  </section>
  <section>
    <Button disabled>Default</Button>
    <Button type="primary" disabled>Primary</Button>
    <Button type="warning" disabled>Warning</Button>
    <Button type="danger" disabled>Danger</Button>
    <Button type="success" disabled>Success</Button>
    <Button type="info" disabled>Info</Button>
    <Button type="inverse" disabled>Inverse</Button>
  </section>
  <section>
    <Button type="primary">Normal</Button>
    <Button type="primary" size="large">Large</Button>
  </section>
</Main>

<script>
  import Main from '../Main.html'
  import Button from '../../../packages/button/src'

  export default {
    data () {
      return {
      }
    },
    components: {
      Main,
      Button
    }
  }
</script>
