<Main>
  <h2 class="router-title">Button 按钮</h2>

  <section class="component-button">
    <h2 class="router-subtitle">按钮类型</h2>
    <Button>Default</Button>
    <Button type="primary">Primary</Button>
    <Button type="warning">Warning</Button>
    <Button type="danger">Danger</Button>
    <Button type="success">Success</Button>
    <Button type="info">Info</Button>
    <Button type="inverse">Inverse</Button>
  </section>

  <section class="component-button">
    <h2 class="router-subtitle">不可用状态</h2>
    <Button disabled>Default</Button>
    <Button type="primary" disabled>Primary</Button>
    <Button type="warning" disabled>Warning</Button>
    <Button type="danger" disabled>Danger</Button>
    <Button type="success" disabled>Success</Button>
    <Button type="info" disabled>Info</Button>
    <Button type="inverse" disabled>Inverse</Button>
  </section>

  <section class="component-button">
    <h2 class="router-subtitle">浮雕样式</h2>
    <Button embossed>Default</Button>
    <Button type="primary" embossed>Primary</Button>
    <Button type="warning" embossed>Warning</Button>
    <Button type="danger" embossed>Danger</Button>
    <Button type="success" embossed>Success</Button>
    <Button type="info" embossed>Info</Button>
    <Button type="inverse" embossed>Inverse</Button>
  </section>

  <section class="component-button">
    <h2 class="router-subtitle">按钮尺寸</h2>
    <Button type="primary" size="small">Small</Button>
    <Button type="primary">Normal</Button>
    <Button type="primary" size="large">Large</Button>
    <Button type="primary" size="huge">Huge</Button>
  </section>
  
  <section class="component-button">
    <h2 class="router-subtitle">加宽样式</h2>
    <Button type="primary" wide>保存</Button>
    <Button wide>取消</Button>
  </section>
</Main>

<script>
  import Main from '../Main.html'
  import Button from '../../../packages/button/src'

  export default {
    data () {
      return {
      }
    },
    components: {
      Main,
      Button
    }
  }
</script>
