@component-namespace component {
  @c icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & dl {
      width: 22%;
      height: 64px;
      margin-bottom: 24px;
      font-size: 14px;
      background: #ECF0F1;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;

      & dt {
        size: 100%;
        padding: 0 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        & svg {
          margin-right: 24px;
        }
      }
    }
  }
}
