@component-namespace router {
  @c layout {
    min-height: 100%;
    background: #F0F2F5;
    display: flex;
    flex-direction: column;
  }

  @c header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    color: #34495E #FFF;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    & a {
      color: #A84452;
      font-family: Rajdhani, sans-serif;
      font-size: 28px;
      text-decoration: none;
    }
  }

  @c content {
    padding: 24px 50px;
    box-sizing: border-box;
  }

  @c footer {
    height: 64px;
    padding: 0 50px;
    color: #BAC1C8 #F0F2F5;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    & img {
      margin-right: 8px;
      size: 20px;
    }
  }

  @c container {
    padding: 24px 0;
    background: #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
  }

  @c menu {
    width: 190px;
    font-size: 14px;
    border-right: 1px solid #ECF0F1;

    & label {
      margin: 10px 0;
      padding-left: 24px;
      font-weight: bold;
      display: block;
    }

    & a {
      padding-left: 24px;
    }
    
    & ul a {
      padding-left: 40px;
      font-size: 14px;
    }

    & a {
      size: 100% 42px;
      color: #7F8C8D;
      line-height: 42px;
      text-decoration: none;
      box-sizing: border-box;
      display: block;
      transition: all .2s;
      &:hover {
        color: #1ABC9C;
      }
      &.router-link-active {
        color: #1ABC9C #ECF0F1;
        font-weight: bold;
      }
    }
  }

  @c main {
    width: calc(100% - 190px);
    padding: 0 24px;
    box-sizing: border-box;
  }

  @c title {
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 28px 40px;
    font-weight: 500;
  }

  @c subtitle {
    margin-top: 36px;
    margin-bottom: 12px;
    font-size: 22px 40px;
    font-weight: 500;
  }
}
