@import "../node_modules/typo.css/typo.css";
@import "./icon.css";

/* 修复typo.css的main默认不设为块级标签的问题 */
main {
  display: block;
}

/* 修改typo.css的默认字体 */
body, button, input, select, textarea {
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

/* flat-ui样式重设 */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 10px;
}

.img-rounded {
  border-radius: 6px;
}