.sf-button {
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: all .25s;
  -webkit-appearance: none;
}

.sf-button--default {
  color: #FFF;
  background-color: #34495E;
  &:hover {
    color: #FFF;
    background-color: #4E6D8D;
  }
}