:root {
  --turqupise: #1ABC9C;
  --greensea: #16A085;
  --emerland: #2ECC71;
  --nephritis: #27AE60;
  --peterriver: #3498DB;
  --belizehole: #2980B9;
  --amethyst: #9B59B6;
  --wisteria: #8E44AD;
  --wetasphalt: #34495E;
  --midnightblue: #2C3E50;
  --sunflower: #F1C40F;
  --orange: #F39C12;
  --carrot: #E67E22;
  --pumpkin: #D35400;
  --alizarin: #E74C3C;
  --pomegranate: #C0392B;
  --clouds: #ECF0F1;
  --silver: #BDC3C7;
  --concrete: #95A5A6;
  --asbestos: #7F8C8D;
}