@import "./var.css";

@component-namespace flat {
  @c loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    opacity: 1;
    transition: all .2s linear;
    z-index: 100000;
    @when primary {
      background-color: var(--TURQUOISE);
    }
    @when error {
      background-color: var(--ALIZARIN);
    }

    @when fadeout {
      opacity: 0;
    }
  }
}
